<div class="container-fluid">
    <div id="dashboard-header" class="row">
        <div id="logo" class="animated fadeInLeft"><i class="fa fa-cubes"></i> TROVE</div>
        <div id="user">
            Welcome, <span id="name">{{ currentUser.name }}</span> | <span id="logout">logout</span>
        </div>
    </div>
    <div id="badges-content-wrapper" class="row">
        <div class="badges">
            <div class="points-summary">
                <span class="points-summary-label">Reward Points</span><br>
                <span class="points-summary-data">{{data.points | number}}</span>
            </div>
            <div class="badges-summary">
                <span class="badges-summary-label">Number of Badges</span><br>
                <span class="badges-summary-data">{{data.badges | number}}</span>
            </div>

            <div class="hex" ng-repeat="badge in badges">{{badge.name}} 
              <div class="corner-1"></div>
              <div class="corner-2"></div>    
            </div>
        </div>
    </div>
</div>