<div id="dashboard-wrapper">
    <div id="dashboard-sidebar">
        <div id="logo" class="animated fadeInDown"><i class="fa fa-cubes"></i> TROVE</div>
        <div id="user">
            Welcome, <span id="name">{{ data.name }}</span> | <span id="logout">logout</span>
        </div>
        <div id="progress">
            <div class="sidebar-item-label">Residency Progress</div>
            <div id="progress-bar-c" class="animated fadeInLeft" ng-style="{'width': data.residency_progress.toString() + '%'}">{{data.residency_progress}}%</div>
            <div id="progress-bar-r">&nbsp;</div>
        </div>
        <div id="number">
            <span class="sidebar-item-label">Number of Studies Read</span><br>
            <span class="sidebar-item-data">{{data.number_studies_total | number}}</span>
        </div>
        <div id="gamify" class="animated fadeInUp">
            <div class="gamify-item">
                <span class="gamify-item-label">Minnies</span><br>
                <span class="gamify-item-data">{{data.points | number}}</span>
            </div>
            <div class="gamify-item">
                <span class="gamify-item-label">Badges</span><br>
                <span class="gamify-item-data">{{data.badges | number}}</span>
            </div>
            <div class="gamify-item">
                <span id="view-badges" ng-click="viewBadges()"><i class="fa fa-trophy"></i> View My Badges</span>
            </div>
        </div>
    </div>
    <div id="summary-view" class="dashboard-content-wrapper animated fadeIn anim-delay-2">
        <div class="summary-graphs">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <summary-chart></summary-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="details">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 categories">
                        <table ng-if="modality_selected_index == -1">
                            <tr>
                                <td class="category-header">Category</td>
                                <td class="category-header">Number</td>
                            </tr>
                            <tr ng-repeat="modality in data.number_studies_by_modality">
                                <td class="category-label" ng-style="{'color': colors[$index]}">{{modality.label}}</td>
                                <td class="category-number" ng-style="{'color': colors[$index]}"><b>{{modality.total}}</b></td>
                            </tr>
                        </table>
                        <table ng-repeat="modality in data.number_studies_by_modality" ng-if="modality_selected_index == $index">
                            <tr>
                                <td class="category-header">Subcategory</td>
                                <td class="category-header">Number</td>
                            </tr>
                            <tr ng-repeat="subcategory in modality.subcategories">
                                <td class="category-label" ng-style="{'color': colorLuminance(colors[$parent.$index], 0.5*$index/modality.subcategories.length-0.25)}">{{subcategory}}</td>
                                <td class="category-number" ng-style="{'color': colorLuminance(colors[$parent.$index], 0.5*$index/modality.subcategories.length-0.25)}">{{modality.subcategories_numbers[$index]}}</td>
                            </tr>
                            <tr>
                                <td class="category-label"><b>Total</b></td>
                                <td class="category-number"><b>{{modality.total}}</b></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div id="explore">
                            <div class="explore-header"><i class="fa fa-search"></i> Explore</div>
                            <div class="explore-links"><a href="#" data-hover="by rotation">by rotation</a></div>
                            <div class="explore-links"><a href="#">by week</a></div>
                            <div class="explore-links"><a href="#">by date</a></div>
                            <div class="explore-links"><a href="#">by diagnosis</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>